* {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
}
h2 {
    color: rgba(31, 131, 61, 0.904);
    display: flex;
}
